@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  box-sizing: border-box;
}

body {
  background-color: #202234;
  color: white;
}

.gradient {
  background: #202234b0;
}

.bg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nav {
  background-color: #23243a;
}

.footer {
  background-color: #1c1d2e;
}
:disabled {
  cursor: not-allowed;
  color: rgb(2 6 23);
  background-color: rgb(30 41 59) !important;
}
